*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    }
    
    body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#eee;
    }
    
    .mobile{
    width:390px;
    height:844px;
    border-radius:30px;
    overflow:hidden;
    background:linear-gradient(180deg,#f49aa3,#f6b6b6,#f7cfa6);
    position:relative;
    }
    
    .card{
    position:absolute;
    bottom:0;
    width:100%;
    height:75%;
    background:#f3f3f3;
    border-radius:40px 40px 0 0;
    padding:40px 25px;
    text-align:center;
    }
    
    h1{
    color:#f08090;
    margin-bottom:10px;
    }
    
    p{
    color:#f08090;
    font-size:14px;
    margin-bottom:20px;
    }
    
    input{
    width:100%;
    padding:14px;
    border-radius:15px;
    border:1px solid #ccc;
    margin-bottom:15px;
    }
    
    .row{
    display:flex;
    justify-content:space-between;
    font-size:13px;
    color:#f08090;
    margin-bottom:20px;
    }
    
    button{
    width:100%;
    padding:14px;
    border-radius:30px;
    border:none;
    background:linear-gradient(90deg,#f08090,#f7b6a6);
    color:white;
    font-weight:bold;
    margin-bottom:25px;
    }
    
    .divider{
    margin:20px 0;
    color:#999;
    }
    
    .google{
    width:40px;
    margin:10px 0;
    }
    
    .bottom{
    font-size:14px;
    color:#999;
    }
    
    .bottom a{
    color:#f08090;
    font-weight:bold;
    text-decoration:none;
    }